body{
/*  font-family: scandia-web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important;*/
/*  font-family: Inter,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,sans-serif;  */
  font-family: 'Roboto Condensed', sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none; 
  word-spacing : 30px;
}

pre {
  background-color: #23395d;
  color: #FFE338;
  width: fit-content;
  height: fit-content;
}

#logo {
  padding-top: 8px;
}

#navelement {
  float: right;
  word-spacing: 50px;
  padding-top: 8px;
  color : #6610f2;
  margin-right: 10px;
}



.sidebar {
  float : left;
  padding-bottom: 4050px;
  padding-right: 50px;
}

.mainnav {
  display: block;
  background-color: #FEE133;
  color : #fff;
  margin-top: -25px;
  margin-left: -10px;
  margin-right: -10px;
  height : 60px;
  font-size: 24px;
  word-spacing : 10px;
}

.banner {
  text-align: center;
  padding-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
}

#bannerh1{
  font-size: 48px;
  color : #FEE133;
}

#bannerp{
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
}

#bannerbutton1{
  border: solid;
  background-color: #FEE133;
  border-color : #FEE133;
  height : 40px;
  color : #fff;
  font-size: 24px;
  cursor: pointer;

}

#bannerbutton2{
  border: solid;
  background-color: #fff;
  border-color : #FEE133;
  height : 40px;
  color : #FEE133;
  font-size: 24px;
  cursor: pointer;
}

.flex {
  display: flex;
  padding-left: 200px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.division1 {
  display: flex;
}

#division1img {
  rotate: 5deg;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
}

.division2 {
  padding-top: 150px;
  display: flex;
}

.division3 {
  padding-top: 150px;
  display: flex;
}
#division3img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
}

.division4 {
  padding-top: 150px;
  display: flex;
}
.division5 {
  padding-top: 150px;
  display: flex;
}
.division6 {
  padding-top: 150px;
  display: flex;
}

.testimonial {
  margin-top: 150px;
  background-color: #FEE133;
  text-align: center;
  color : #fff;
}

.community {
  padding-top: 150px;
  display: flex;
  padding-bottom: 100px;
}

.canvas {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  color : #2F5EC4;
}

.classroom {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  background-color: bisque;
  color : #C97F2A;
}
.sakai {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  background-color: bisque;
  color : #C97F2A;
}
.blackboard {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  color : #2F5EC4;
}
.brightspace {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  background-color: bisque;
  color : #C97F2A;
  
}

#v1 {
  border-radius: 10px;
}

#v2 {
  border-radius: 10px;
}

#v3 {
  border-radius: 10px;
}

.faq {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  background-color: bisque;
  padding-left: 10px;
  color : #C97F2A;
}

.privacy {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  background-color: bisque;
  padding-left: 10px;
  color : #C97F2A;
}

.contact {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
#contactsubmit {
  border: solid;
  background-color: #FEE133;
  border-color : #FEE133;
  height : 40px;
  color : #fff;
  font-size: 24px;
  cursor: pointer;

}

.footer {
  display: flex;
  background-color: #FAFAFA;
  color : #BABCBE;
  padding-left: 500px;
}
